.ipynb_checkpoints/
__pycache__
.vscode
autoclassconfig_*.py
src/*/config/test_*.py
src/*/output/*.csv
src/*/output/nn_checkpoints/*
src/*/model/*
.env
.ideas
.pytest_cache
__test.py
settings.json
src/*/*.pt