sql_config.py
.ipynb_checkpoints/
__pycache__
.vscode
autoclassconfig_*.py
src/IAFautoclass/config/test_*.py
!autoclassconfig_template.py
src/IAFautoclass/output/*.csv
src/IAFautoclass/model/*.sav
.env
.ideas
.pytest_cache
__test.py
settings.json