imbalanced_learn
ipywidgets
langdetect
lexicalrichness
matplotlib
numpy
pandas
path.py
psutil
pyodbc
pytest
python-dotenv
scikit_clean==0.1.2 # Needs to use https://github.com/slimebob1975/scikit-clean
scikit_learn
scipy
stop_words
terminal
dill
torch
skorch
scikeras
tensorflow
jax
optax
flax
