# The requirements.txt file
imbalanced_learn
ipywidgets
langdetect
lexicalrichness
matplotlib
numpy
pandas
path.py
psutil
pyodbc
pytest
python-dotenv
scikit_learn
scipy
stop_words
terminal
dill
torch
skorch
scikeras
tensorflow
jax
optax
flax
matplotlib