.result-display {
    padding: 5px
}
.result-display .dataframe tbody td,
.result-display .dataframe tbody th {
    text-align: left
}
.result-display .dataframe thead th {
    text-align: center
}

.result-display h1 {
    font-size: 1.728em
}

.result-display h2 {
    font-size: 1.44em
}

.result-display h3 {
    font-size: 1.2em
}

.result-display .widget-hprogress label {
    width: fit-content
}
